<div id="body">
    <div class="col-md-3" style="padding-left: 0px;  padding-right: 0px;">
        <img src="~/Afbeeldingen/loket-avatar.jpg" class="img-responsive">
    </div>
    <div class="col-md-2">
        <form id="saveMessageForm" method="post" >
            <h3>Selecteer log levels</h3>
            <label><input type="checkbox" name="deletedItems" value="Verbose"> Verbose</label>
            <label><input type="checkbox" name="deletedItems" value="Fatal"> Fatal</label>
            <label><input type="checkbox" name="deletedItems" value="Information"> Information</label>
            <br>
            <input type="button" id="saveMessage" value="Save" />
        </form>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h1>Overzicht van log data</h1>
            <ul id="messages"></ul>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/message', function (messagesJsonPayload) {
                $(messagesJsonPayload).each(function (i, item) {
                    $('#messages').append('<li>' + item.Id + ", " + item.Application + ", " + item.TimeStamp + ", "
                        + item.LogLevel + ", " + item.Location + ", " + item.Content + '</li>');
                });
            });
        });

        $('#saveMessage').click(function () {

            var $form = $('#saveMessageForm');

            var $inputs = $('input[type="checkbox"]:checked', $form);

            var logLevels = [];
            $inputs.each(function () {
                logLevels.push($(this).val());
            });


            var blaa = {
                LogLevels: logLevels
            };

            var json = JSON.stringify(blaa);


            /*$.post("/api/message",
                json, //$("#saveMessageForm").serialize(),
                function (value) {
                    console.log('Success!');
                },
                "json"
            );*/

            $.ajax({
                url: "/api/message/",
                type: "POST",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                }
            });
        });

        $(function change() {
            if ($("#all").prop("checked", true)) {
                $("#verbose").prop("checked", true);
            }
        });
    </script>
}