<div id="body">
    <div class="col-md-3" style="padding-left: 0px;  padding-right: 0px;">
        <img src="~/Afbeeldingen/micro-services1-297x250.png" class="img-responsive">
    </div>
    <div class="col-md-2">
        <form id="saveMessageForm" method="post">
            <h3>Select your log levels</h3>
            <input type="checkbox" name="all" value="All">All Data<br>
            <input type="checkbox" name="verbose" value="Verbose">Verbose<br>
            <input type="checkbox" name="debug" value="Debug">Debug<br>
            <input type="checkbox" name="information" value="Information">Information<br>
            <input type="checkbox" name="warning" value="Warning">Warning<br>
            <input type="checkbox" name="error" value="Error">Error<br>
            <input type="checkbox" name="fatal" value="Fatal">Fatal<br>
            <br>
            <input type="button" id="saveMessage" value="Save" />
        </form>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h1>Overzicht van log data</h1>
            <ul id="messages"></ul>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/message', function (messagesJsonPayload) {
                $(messagesJsonPayload).each(function (i, item) {
                    $('#messages').append('<li>' + item.Id + ", " + item.Application + ", " + item.TimeStamp + ", "
                        + item.LogLevel + ", " + item.Location + ", " + item.Content + '</li>');
                });
            });
        });

        $('#saveMessage').click(function () {
            $.post("/api/message",
                $("#saveMessageForm").serialize(),
                function (value) {
                    $('#messages').append('<li>' + value.Id + ", " + value.Application + '</li>');
                },
                "json"
            );
        });
    </script>
}
