<div id="body">
    <div class="col-md-3" style="padding-left: 0px;  padding-right: 0px;">
        <img src="~/Afbeeldingen/loket-avatar.jpg" class="img-responsive">
    </div>
    <div class="col-md-2">
        <form id="saveMessageForm" method="post">
            <h2>Selecteer log level(s)</h2>
            <label><input id="verbose" type="checkbox" name="selectedItems" value="Verbose" onchange="verboseChange()"> Verbose</label><br />

            <label><input id="debug" type="checkbox" name="selectedItems" value="Debug" onchange="debugChange()"> Debug</label><br />

            <label><input id="information" type="checkbox" name="selectedItems" value="Information" onchange="informationChange()"> Information</label><br />

            <label><input id="warning" type="checkbox" name="selectedItems" value="Warning" onchange="warningChange()"> Warning</label><br />

            <label><input id="error" type="checkbox" name="selectedItems" value="Error" onchange="errorChange()"> Error</label><br />

            <label><input id="fatal" type="checkbox" name="selectedItems" value="Fatal" onchange="fatalChange()"> Fatal</label>
            <br>
            <input type="button" id="saveMessage" value="Push to queue" />
        </form>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h2>Overzicht van (dummy) log data</h2>
            <ul id="messages"></ul>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/message', function (messagesJsonPayload) {
                $(messagesJsonPayload).each(function (i, item) {
                    $('#messages').append('<li>' + item.Id + ", " + item.Application + ", " + item.TimeStamp + ", "
                        + item.LogLevel + ", " + item.Location + ", " + item.Content + '</li>');
                });
            });
        });

        $('#saveMessage').click(function () {

            var $form = $('#saveMessageForm');

            var $inputs = $('input[type="checkbox"]:checked', $form);

            var logLevels = [];
            $inputs.each(function () {
                logLevels.push($(this).val());
            });


            var levels = {
                LogLevels: logLevels
            };

            var json = JSON.stringify(levels);

            $.ajax({
                url: "/api/message/",
                type: "POST",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                }
            });
        });
        

        function verboseChange() {
            if (document.getElementById("verbose").checked == true) {
                document.getElementById("debug").checked = true;
                document.getElementById("information").checked = true;
                document.getElementById("warning").checked = true;
                document.getElementById("error").checked = true;
                document.getElementById("fatal").checked = true;
            }
            else if (document.getElementById("verbose").checked == false) {
                document.getElementById("debug").checked = false;
                document.getElementById("information").checked = false;
                document.getElementById("warning").checked = false;
                document.getElementById("error").checked = false;
                document.getElementById("fatal").checked = false;
            }
        }

        function debugChange() {
            if (document.getElementById("debug").checked == true) {
                document.getElementById("verbose").checked = false;
                document.getElementById("information").checked = true;
                document.getElementById("warning").checked = true;
                document.getElementById("error").checked = true;
                document.getElementById("fatal").checked = true;
            }
            else if (document.getElementById("debug").checked == false) {
                document.getElementById("information").checked = false;
                document.getElementById("warning").checked = false;
                document.getElementById("error").checked = false;
                document.getElementById("fatal").checked = false;
            }
        }

        function informationChange() {
            if (document.getElementById("information").checked == true) {
                document.getElementById("verbose").checked = false;
                document.getElementById("debug").checked = false;
                document.getElementById("warning").checked = true;
                document.getElementById("error").checked = true;
                document.getElementById("fatal").checked = true;
            }
            else if (document.getElementById("information").checked == false) {
                document.getElementById("warning").checked = false;
                document.getElementById("error").checked = false;
                document.getElementById("fatal").checked = false;
            }
        }

        function warningChange() {
            if (document.getElementById("warning").checked == true) {
                document.getElementById("verbose").checked = false;
                document.getElementById("debug").checked = false;
                document.getElementById("information").checked = false;
                document.getElementById("error").checked = true;
                document.getElementById("fatal").checked = true;
            }
            else if (document.getElementById("warning").checked == false) {
                document.getElementById("error").checked = false;
                document.getElementById("fatal").checked = false;
            }
        }

        function errorChange() {
            if (document.getElementById("error").checked == true) {
                document.getElementById("verbose").checked = false;
                document.getElementById("debug").checked = false;
                document.getElementById("information").checked = false;
                document.getElementById("warning").checked = false;
                document.getElementById("fatal").checked = true;
            }
            else if (document.getElementById("error").checked == false) {
                document.getElementById("fatal").checked = false;
            }
        }

        function fatalChange() {
            if (document.getElementById("fatal").checked == true) {
                document.getElementById("verbose").checked = false;
                document.getElementById("debug").checked = false;
                document.getElementById("information").checked = false;
                document.getElementById("warning").checked = false;
                document.getElementById("error").checked = false;
                document.getElementById("fatal").checked = true;
            }
            else if (document.getElementById("fatal").checked == false) {
                document.getElementById("verbose").checked = false;
                document.getElementById("debug").checked = false;
                document.getElementById("information").checked = false;
                document.getElementById("warning").checked = false;
                document.getElementById("error").checked = false;
                document.getElementById("fatal").checked = false;
            }
        }
    </script>
}